/*
body {
background-image: url('../images/MorningBread.jpg');
background-size: cover;
opacity: .7;
}
*/
#logo {
	margin: 1.3em 2.5em;
}

#questionSection {
	/*background-image: url("images/toaster2.jpg");*/
	/*margin: 0 20%;*/
}

#logo h1 {
	float: right;
	font-family: Verdana;
	font-size: 2em;
	margin-top: 6%;
}

#quiz-wrapper {
	background-image: url('../images/MorningBread.jpg');
	background-size: cover;
	opacity: .6;
}


.container {
	width: 50%;
	height: 30em;
	margin-left: 25%;
	margin-top: 2em;
	padding-top: 14em;
}

.questionLine {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 1.4em;
  color: #fff;
}

.choiceItems, .checkAnswer {
  list-style: none;
  text-align: center;
  font-size: 1.1em;
  font-family: sans-serif;
  border: 1px solid white;
  border-radius: 25px;
  margin: .5em auto;
  padding: 12px;
  color: #000;
  background-color: #fff; 
}

.checkAnswer {
	background-color: #b0c1e8;
}

#factSection {
	width: 100%;
	height: 10em;
	padding: 3em 3em 0 3em;
	background-color: #fff;
	display: none;
	border-radius: 18px;
}

.fact {
	font-family: sans-serif;
	font-size: 1.1em;
	color: orange;
}

#nextQuestion, #start {
	width: 45%;
	/*font-size: 90px;*/
	margin-left: 150px;
	margin-bottom: 25px;
}

#nextQuestion {
	display: none;
}